{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>Edite</h3><hr>
        <form method="post" action="{{ url_for('edit_tarefa', id=datas.ID) }}">
          <fieldset class="form-group">
            <label>Titulo</label>
            <input type="text" name="titulo" required class="form-control" value="{{ datas.TITULO }}">
          </fieldset> 
          <fieldset class="form-group">
            <label>Descrição</label>
            <input type="text" name="descricao" required class="form-control" value="{{ datas.DESCRIÇÃO }}">
          </fieldset> 
          <fieldset class="form-group">
            <label>Data</label>
            <input type="text" name="data" required class="form-control" value="{{ datas.DATA }}">
          </fieldset> 
          <fieldset class="form-group">
            <label>Status</label>
            <select name="status"   class="form-control"> 

              <option value="Pendente" {% if datas.STATUS == 'Pendente' %}selected{% endif %}>Pendente</option>             
              <option value="Executando" {% if datas.STATUS == 'Executando' %}selected{% endif %}>Executando</option>
              <option value="Concluida" {% if datas.STATUS == 'Concluida' %}selected{% endif %}>Concluída</option>
          </select>
          </fieldset>
          
          <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>
{% endblock %}
